body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
    border: 10px, black;
  }
  
  main {
    flex: 1;
    padding: 1rem;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }

  section {
    display: none;
    text-align: center;
    margin-top: 2rem;
  }
  
  section.active {
    display: block;
    font-size: 21px;
  }

  .btn.primary {
    background-color: #007bff;
    color: white;
    width: 100px;
    margin-top: 30px;
  }

  nav a{
    color: white;
    text-decoration: none;
    font-size: large;
  }